.main {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.menu-news-content{
	margin-top: 20px;
}

.newest-news-body, 
.top-news-body{
	padding: 10px;
}

.news-see-more-button{
	float: right;
	margin-bottom: 5px;
	margin-right: 5%;
}

.most-popular-article-image{
	width: 75%;
	height: 75%;
}

.most-popular-article{
	background-color: coral;
	text-align: center;
}

.most-popular-article-content{
	text-align: center;
}