.main {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.menu-news-content{
	margin-top: 20px;
	margin-left: 5px;
}

.newest-news-body, 
.top-news-body{
	padding: 10px;
}

.see-article-button,
.edit-article-button, 
.delete-article-button, 
.news-see-more-button{
	float: right;
	margin-bottom: 5px;
	margin-right: 5%;
}

.most-popular-article-image{
	width: 75%;
	height: 75%;
}

.most-popular-article{
	text-align: center;
}

.most-popular-article-content{
	text-align: center;
}

/* commands preview */

.speech-commands-preview {
	height: 80%;
	width: 0;
	position: fixed;
	z-index: 2;
	right: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
    padding-top: 60px;
    margin-top: 20px;
  }
  
  .speech-commands-preview a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: yellow;
	display: block;
	transition: 0.3s;
  }
  
  .speech-commands-preview a:hover {
	color: #f1f1f1;
  }
  
  .speech-commands-preview .close-preview-commands-button {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
    margin-left: 50px;
    font-size: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.speech-commands-preview {padding-top: 15px;}
	.speech-commands-preview a {font-size: 18px;}
  }

  .show-speech-commands-preview{
	  margin-top: 20px;
  }
  
  .open-preview-commands-button{
	cursor: pointer;
  }

  .show-commands-button{
	  font-size: 20px;
  }
  
  .show-speech-commands-row{
	  margin-top: 70px;
  }

  .article-categories-list{
	  padding-top: 70px;
  }

  .register-account-description{
	  font-size: 16px;
  }