@model SpeechRecognitionThesis.Models.ViewModels.RegisterUserModel

@{
    ViewData["Title"] = "Rejestracja użytkownika";
    ViewData["LoginHelpBlock"] = "Nazwa użytkownika może się składać z dowolnych znaków (do 20 znaków).";
    ViewData["PasswordHelpBlock"] = "Hasło powinno zawierać co najmniej 6 znaków";
    ViewData["PasswordConfirmHelpBlock"] = "Proszę wpisać hasło ponownie.";
}

<h2>@ViewData["Title"]</h2>
@if (!User.Identity.IsAuthenticated)
{
    <form id="register-form" class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label register-account-description" for="username">Nazwa użytkownika</label>
                <div class="register-controls">
                    <input asp-for="User.NickName" type="text" id="NickName" placeholder="" class="input-xlarge">
                    <p class="help-block">@ViewData["LoginHelpBlock"]</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label register-account-description" for="password">Hasło</label>
                <div class="register-controls">
                    <input asp-for="User.Password" type="password" id="Password" placeholder="" class="input-xlarge">
                    <p class="help-block">@ViewData["PasswordHelpBlock"]</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label register-account-description" for="password_confirm">Hasło (potwierdzenie)</label>
                <div class="register-controls">
                    <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" placeholder="" class="input-xlarge">
                    <p class="help-block">@ViewData["PasswordConfirmHelpBlock"]</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label register-account-description" for="email">E-mail</label>
                <div class="register-controls">
                    <input asp-for="User.Email" type="email" id="Email" placeholder="" class="input-xlarge">
                    <p class="help-block">Proszę wprowadzić swój adres E-mail</p>
                </div>
            </div>
            <div class="control-group">
                <div class="register-controls">
                    <button class="register-button btn btn-success" type="submit"><h4>Zarejestruj się!</h4></button>
                </div>
            </div>
        </fieldset>
    </form>
}
else
{
    <partial name="/Views/Shared/_LoggedUserInfoView.cshtml"/>
}