@{
    ViewData["Title"] = "O projekcie";
}
<h2>@ViewData["Title"]</h2>

<p>
    Strona została zaprojektowana na potrzeby badań zawartych w pracy magisterskiej
    <i><b>"System informacyjny dla osób niepełnosprawnych sterowany głosem"</b></i>, autorstwa <i>Krzysztofa Jerzyńskiego</i>
    - studenta Informatyki na Wydziale Informatyki Politechniki Poznańskiej, kształcącego się na specjalizacji: 
    <i><b>Technologie Wytwarzania Oprogramowania</b></i>. Aplikacja została stworzona na bazie silnika <i><b>Artyom.js</b></i>
    do sterowania funkcjami przy pomocy głosu. System został napisany w języku polskim dla osób niepełnosprawnych. 
    Rozwiązanie zostało przeznaczone dla użytkowników przeglądarki internetowej <i>Google Chrome</i> z dostępem do Internetu.
</p>