@{
    ViewData["Title"] = "Main Page";
}

<div class="row menu-news-content">

    <div class="row news-header">
        <h1>Polecane</h1>
    </div>
    <div class="row most-popular-articles">
        <div class="col-md-4 most-popular-article">
            <img class="most-popular-article-image" src="~/images/bird.jpg" alt="Avatar">
            <div class="most-popular-article-content">To jest opis jednego z polecanych artykułów</div>
        </div>
        <div class="col-md-4 most-popular-article">
            <img class="most-popular-article-image" src="~/images/bird.jpg" alt="Avatar">
            <div class="most-popular-article-content">To jest kolejny opis jednego z polecanych artykułów</div>
        </div>
        <div class="col-md-4 most-popular-article">
            <img class="most-popular-article-image" src="~/images/bird.jpg" alt="Avatar">
            <div class="most-popular-article-content">To jest ostatni opis jednego z polecanych artykułów</div>
        </div>
    </div>

    <!-- TODO Template for all types articles -->
    <div class="row news-header">
        <h1>Najnowsze artykuły</h1>
    </div>
    <div class="row newest-news-body">
        <div class="col-sm-3">
            <div class="text-center">
                <p><h3>John</h3></p>
                <img src="~/images/bird.jpg" class="img-circle" height="120" width="120" alt="Avatar">
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Tytuł artykułu</h2>
            <h4>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</h4>
            <button class="news-see-more-button btn-danger"><h4>Zobacz więcej</h4></button>
        </div>
    </div>

    <div class="row news-header">
        <h1>Top 5 artykułów</h1>
    </div>
    <div class="row newest-news-body">
        <div class="col-sm-3">
            <div class="text-center">
                <p><h3>John</h3></p>
                <img src="~/images/bird.jpg" class="img-circle" height="120" width="120" alt="Avatar">
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Tytuł artykułu</h2>
            <h4>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</h4>
            <button class="news-see-more-button btn-danger"><h4>Zobacz więcej</h4></button>
        </div>
    </div>

    <div class="row news-header">
        <h1>Twoje artykuły</h1>
    </div>
    <div class="row newest-news-body">
        <div class="col-sm-3">
            <div class="text-center">
                <p><h3>John</h3></p>
                <img src="~/images/bird.jpg" class="img-circle" height="120" width="120" alt="Avatar">
            </div>
        </div>
        <div class="col-sm-9">
            <h2>Tytuł artykułu</h2>
            <h4>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</h4>
            <button class="news-see-more-button btn-danger"><h4>Zobacz więcej</h4></button>
        </div>
    </div>

</div>