/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.Views.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.Views.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.deps.json
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.runtimeconfig.dev.json
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.1/SpeechRecognitionThesis.runtimeconfig.json
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.AssemblyInfo.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.AssemblyInfoInputs.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.RazorAssemblyInfo.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.RazorAssemblyInfo.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.RazorCoreGenerate.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.RazorTargetAssemblyInfo.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.RazorTargetAssemblyInfo.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.TagHelpers.input.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.TagHelpers.output.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.Views.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.Views.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.assets.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.csproj.CopyComplete
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.csproj.CoreCompileInputs.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.csproj.FileListAbsolute.txt
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/SpeechRecognitionThesis.csproj.nuget.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/SpeechRecognitionThesis.csproj.nuget.g.props
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/SpeechRecognitionThesis.csproj.nuget.g.targets
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/project.assets.json
/SpeechRecognitionThesis/.vs/SpeechRecognitionThesis/v15/.suo
/SpeechRecognitionThesis/.vs/SpeechRecognitionThesis/v15/Server/sqlite3/db.lock
/SpeechRecognitionThesis/.vs/SpeechRecognitionThesis/v15/Server/sqlite3/storage.ide
/SpeechRecognitionThesis/.vs/SpeechRecognitionThesis/v15/Server/sqlite3/storage.ide-shm
/SpeechRecognitionThesis/.vs/SpeechRecognitionThesis/v15/Server/sqlite3/storage.ide-wal
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_SidebarLayout.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/SpeechRecognitionThesis.csprojAssemblyReference.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Article/Article.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Article/Index.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Article.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Index.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Add.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Edit.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Newest.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Recommended.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.1/Razor/Views/Articles/Top.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.Views.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.Views.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.deps.json
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.runtimeconfig.dev.json
/SpeechRecognitionThesis/SpeechRecognitionThesis/bin/Debug/netcoreapp2.2/SpeechRecognitionThesis.runtimeconfig.json
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Articles/Add.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Articles/Edit.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Articles/Newest.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Articles/Recommended.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Articles/Top.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Home/About.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Home/Contact.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_SidebarLayout.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.AssemblyInfo.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.AssemblyInfoInputs.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.RazorAssemblyInfo.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.RazorAssemblyInfo.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.RazorCoreGenerate.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.RazorTargetAssemblyInfo.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.RazorTargetAssemblyInfo.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.TagHelpers.input.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.TagHelpers.output.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.Views.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.Views.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.assets.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.csproj.CopyComplete
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.csproj.CoreCompileInputs.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.csproj.FileListAbsolute.txt
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.csprojAssemblyReference.cache
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.dll
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/SpeechRecognitionThesis.pdb
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/SearchEngine/Search.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Home/Register.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Register/Register.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Login/Login.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Account/AccountArticles.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Account/AccountEdit.g.cshtml.cs
/SpeechRecognitionThesis/SpeechRecognitionThesis/obj/Debug/netcoreapp2.2/Razor/Views/Account/AccountGeneral.g.cshtml.cs
