
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<div class="row menu-news-content">
    <div class="form-group">
        <label for="comment">Treść artykułu:</label>
            @Html.AntiForgeryToken()
            <textarea class="article-content form-control" rows="5" id="comment"></textarea>
            <button name="save-article-button" class="save-article-button alert-success" type="submit">Zapisz artykuł</button>
        </div>
</div>