
@{
    ViewData["Title"] = "Newest";
}

<h2>Newest</h2>

<div class="row menu-news-content">
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="article-content form-control" rows="5" id="comment"></textarea>
    </div>
</div>
