
@{
    ViewData["Title"] = "Moje konto";
    ViewData["AccountMainDescription"] = "Witaj " + User.Identity.Name + " w zakładce 'Moje konto'";
}

<h2>@ViewData["AccountMainDescription"]</h2>

<div class="row">
    <div class="col-md-6">
        1 of 2
        <!-- IMG -->
        <!-- change img -->
        <!-- display nick -->
        <!-- Register since: -->
        <!-- Dodałeś 2 artykuły -->
        <!-- Ostatnio zalgowany -->
    </div>
    <div class="col-md-6">
        <!-- Zmień dnae label -->
        <!-- nick + email control -->
        <!-- Zmień dnae button -->
        <!-- odstęp -->
        <!-- twoje artykuły -->
        <!-- usuń konto (ze wzgledu na rodo) -->
        2 of 2
    </div>
</div>
