@model SpeechRecognitionThesis.Models.ViewModels.LoginUserModel

@{
    ViewData["Title"] = "Strona logowania użytkownika";
    ViewData["LoginHelpBlock"] = "Wpisz nazwę użytkownika podaną przy rejestracji";
    ViewData["PasswordHelpBlock"] = "Wpisz hasło podane przy rejestracji";
}

<h2>@ViewData["Title"]</h2>

@if (!User.Identity.IsAuthenticated)
{
<form id="login-form" class="form-horizontal">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="control-group">
            <label class="control-label login-account-description" for="username">Nazwa użytkownika</label>
            <div class="login-controls">
                <input asp-for="User.NickName" type="text" id="NickName" placeholder="" class="input-xlarge" autofocus>
                <p class="help-block">@ViewData["LoginHelpBlock"]</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label login-account-description" for="password">Hasło</label>
            <div class="login-controls">
                <input asp-for="User.Password" type="password" id="Password" placeholder="" class="input-xlarge">
                <p class="help-block">@ViewData["PasswordHelpBlock"]</p>
            </div>
        </div>
        <div class="control-group">
            <div class="login-controls">
                <button class="login-button btn btn-success" type="submit"><h4>Zaloguj się!</h4></button>
            </div>
        </div>
    </fieldset>
</form>
}
else
{
    <partial name="/Views/Shared/_LoggedUserInfoView.cshtml" />
}