@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<!-- Search form -->
<div class="md-form mt-0">
    <input id="search-text-input" class="form-control search-text-input" type="text" placeholder="Search" aria-label="Search">
</div>

<div class="row">
    <ul class="list-group articles-result">
        <!--
        <li class="list-group-item article-result">
            <p>Treść artykułu: </p>
            <p class="content-article"></p>
            <br />
            <p>Data utworzenia: </p>
            <p class="date-create-article"></p>
            <br />
            <p>Data modyfikacji: </p>
            <p class="date-modify-article"></p>
            <br/>
        </li>
        -->
    </ul>
</div>