@{
    ViewData["Title"] = "Wyszukiwarka artykułów";
}

<h2>@ViewData["Title"]</h2>

@model SpeechRecognitionThesis.Models.ViewModels.SearchEngineModel

<div class="row">
    <div class="md-form mt-0">
        <input id="search-text-input" class="form-control"
               type="text" placeholder="Wpisz interesującą Cię frazę do wyszukania" aria-label="Search">
    </div>
    <div class="row category-elements-row">
        <div class="category-elements">
            <h4>
                <p><label class="article-category-label" for="article-category">Wybierz filtr kategorii artykułu</label><p>
                    <select id="search-article-category" size="8"
                            asp-items="@( new SelectList( Model.ArticleCategoryList,"Id","Name" ) )"></select>
            </h4>
        </div>
    </div>
    <div class="row datepicker-article-row">
        <div class="date-picker-article-from">
            <h4><b>Wybierz zakres dat od</b></h4><input type="text" id="datepicker-article-from">
        </div>
    </div>
    <div class="row datepicker-article-row">
        <div class="date-picker-article-to">
            <h4><b>Wybierz zakres dat do</b></h4><input type="text" id="datepicker-article-to">
        </div>
    </div>
    <div class="row articles-result-container">
        <div class="articles-result-container-description">
            <h2>Lista wynikowa:</h2>
        </div>
        <ul class="list-group articles-result">
            <!-- Dynamic created category list by client side -->
        </ul>
    </div>
</div>