@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

@model SpeechRecognitionThesis.Models.ViewModels.SearchEngineModel

<div class="row">
    <div class="md-form mt-0">
        <input id="search-text-input" class="form-control"
               type="text" placeholder="Wpisz interesującą Cię frazę do wyszukania" aria-label="Search">
    </div>
    <div class="row">
        <div class="category-elements col-md-4">
            <label class="article-category-label" for="article-category">Wybierz filtr kategorii artykułu</label>
            <br />
            <select id="search-article-category" size="6"
                    asp-items="@( new SelectList( Model.ArticleCategoryList,"Id","Name" ) )"></select>
        </div>
        <div class="date-picker-article-from col-md-4">
            Wybierz zakres dat od<input type="text" id="datepicker-article-from">
        </div>
        <div class="date-picker-article-to col-md-4">
            Wybierz zakres dat do<input type="text" id="datepicker-article-to">
        </div>
    </div>
    <div class="row articles-result-container">
        <div class="articles-result-container-description">
            Lista wynikowa:
        </div>
        <ul class="list-group articles-result">
            <!-- Dynamic created category list by client side -->
        </ul>
    </div>
</div>