<a href="#"><b>"zmień dane", "zapisz dane"</b>                                              - <i>zapisuje dane z formularza</i></a>
<a href="#"><b>"usuń konto"</b>                                                             - <i>usuwa konto użytkownika</i></a>
<a href="#"><b>"zmień avatar"</b>                                                           - <i>wyświetla alternatywne obrazki dla profilu konta</i></a>
<a href="#"><b>"zapisz avatar"</b>                                                          - <i>zapisuje informację o wybranym obrazku, dla profilu konta</i></a>
<a href="#"><b>"anuluj"</b>                                                                 - <i>zamyka okno wyboru obrazka, dla profilu konta</i></a>
<a href="#"><b>"wybierz pierwszy", "wybierz jeden",..., "wybierz ósmy", "wybierz osiem"</b> - <i>wybiera dany obrazek dla profilu konta</i></a>
<a href="#"><b>"zapisz avatar"</b>                                                          - <i>zapisuje informację o wybranym obrazku, dla profilu konta</i></a>
<a href="#"><b>"małe a", ..., "małe z"</b>                                                  - <i>dodaje małą literę z zakresu a-z do pola z ustawionym kursorem</i></a>
<a href="#"><b>"duże A", ..., "duże Z"</b>                                                  - <i>dodaje dużą literę z zakresu A-Z do pola z ustawionym kursorem</i></a>
<a href="#"><b>"cyfra 0", ..., "cyfra 9"</b>                                                - <i>dodaje cyfrę z zakresu 0-9 do pola z ustawionym kursorem</i></a>
<a href="#"><b>"małpa"</b>                                                                  - <i>dodaje znak '@@' do pola z ustawionym kursorem</i></a>
<a href="#"><b>"kropka"</b>                                                                 - <i>dodaje znak '.' do pola z ustawionym kursorem</i></a>
<a href="#"><b>"login", "ustaw nazwę", "ustaw nick", "ustaw login"</b>                      - <i>ustawia kursor w polu login</i></a>
<a href="#"><b>"hasło", "ustaw hasło"</b>                                                   - <i>ustawia kursor w polu hasło</i></a>
<a href="#"><b>"potwierdź", "potwierdzenie", "zatwierdź"</b>                                - <i>ustawia kursor w polu potwierdzenia hasła</i></a>
<a href="#"><b>"e-mail", "email"</b>                                                        - <i>ustawia kursor w polu e-mail'a</i></a>
<a href="#"><b>"wyczyść login", "wyczyść nazwa", "wyczyść nazwę"</b>                        - <i>czyści pole login</i></a>
<a href="#"><b>"wyczyść hasło"</b>                                                          - <i>czyści pole hasło</i></a>
<a href="#"><b>"wyczyść potwierdzenie"</b>                                                  - <i>czyści pole potwierdzenia hasła</i></a>
<a href="#"><b>"wyczyść email", "wyczyść e-mail", "wyczyść e-mail'a"</b>                    - <i>czyści pole e-mail'a</i></a>
<a href="#"><b>"cofnij"</b>                                                                 - <i>usuwa ostatni znak z pola, w którym jest ustawiony kursor</i></a>
<a href="#"><b>"sprawdź hasło"</b>                                                          - <i>odkrywa hasło w postaci zakropkowanej</i></a>
<a href="#"><b>"ukryj hasło"</b>                                                            - <i>zakrywa hasło do postaci zakropkowanej</i></a>
<br />
<a href="#"><b><u>Poniżej znajdują się komendy wspólne dla systemu:</u></b></a>
<partial name="_MainCommandsPartialView.cshtml" />