<a href="#"><b>"Napisz temat"</b>    - <i>napisz temat artykułu</i></a>
<a href="#"><b>"Napisz treść"</b>    - <i>napisz treść artykułu</i></a>
<a href="#"><b>"Napisz tekst"</b>    - <i>napisz treść artykułu</i></a>
<a href="#"><b>"Zapisz artykuł"</b>  - <i>zapisz artykuł w bazie danych</i></a>
<a href="#"><b>"Wyczyść temat"</b>   - <i>usuwanie treści tematu</i></a>
<a href="#"><b>"Wyczyść treść"</b>   - <i>usuwanie treści artykułu</i></a>
<a href="#"><b>"Wyczyść tekst"</b>   - <i>usuwanie treści artykułu</i></a>
<a href="#"><b>"Wyczyść artykuł"</b> - <i>usuwanie tematu oraz treści artykułu</i></a>
<a href="#"><b>"Cofnij"</b>          - <i>usuwanie ostatniej litery w kontrolce</i></a>
<a href="#"><b>"Zakończ artykuł"</b> - <i>zatrzymuje pisanie tekstu w temacie/treści artykułu</i></a>
<br />
<a href="#"><b><u>Poniżej znajdują się komendy wspólne dla systemu:</u></b></a>
<partial name="_MainCommandsPartialView.cshtml" />