<a href="#">"Napisz temat"    - napisz temat artykułu</a>
<a href="#">"Napisz treść"    - napisz treść artykułu</a>
<a href="#">"Napisz tekst"    - napisz treść artykułu</a>
<a href="#">"Zapisz artykuł"  - zapisz artykuł w bazie danych</a>
<a href="#">"Wyczyść temat"   - usuwanie treści tematu</a>
<a href="#">"Wyczyść treść"   - usuwanie treści artykułu</a>
<a href="#">"Wyczyść tekst"   - usuwanie treści artykułu</a>
<a href="#">"Wyczyść artykuł" - usuwanie tematu oraz treści artykułu</a>
<a href="#">"Cofnij"          - usuwanie ostatniej litery w kontrolce</a>
<a href="#">"Zakończ artykuł" - zatrzymuje pisanie tekstu w temacie/treści artykułu</a>