<a href="#"><b>"małe a", ..., "małe z"</b>                              - <i>dodaje małą literę z zakresu a-z do pola z ustawionym kursorem</i></a>
<a href="#"><b>"duże A", ..., "duże Z"</b>                              - <i>dodaje dużą literę z zakresu A-Z do pola z ustawionym kursorem</i></a>
<a href="#"><b>"cyfra 0", ..., "cyfra 9"</b>                            - <i>dodaje cyfrę z zakresu 0-9 do pola z ustawionym kursorem</i></a>
<a href="#"><b>"zaloguj", "zaloguj się", "logowanie"</b>                - <i>zatwierdza akcję logowania</i></a>
<a href="#"><b>"Login", "Ustaw nazwę", "Ustaw nick", "Ustaw login"</b>  - <i>ustawia kursor w polu Login</i></a>
<a href="#"><b>"Hasło", "Ustaw hasło"</b>                               - <i>ustawia kursor w polu hasło</i></a>
<a href="#"><b>"wyczyść login", "wyczyść nazwa", "wyczyść nazwę"</b>    - <i>czyści pole login</i></a>
<a href="#"><b>"wyczyść hasło"</b>                                      - <i>czyści pole hasło</i></a>
<a href="#"><b>"cofnij"</b>                                             - <i>usuwa ostatni znak z pola, w którym jest ustawiony kursor</i></a>
<a href="#"><b>"sprawdź hasło"</b>                                      - <i>odkrywa hasło w postaci zakropkowanej</i></a>
<a href="#"><b>"ukryj hasło"</b>                                        - <i>zakrywa hasło do postaci zakropkowanej</i></a>
<br />
<a href="#"><b><u>Poniżej znajdują się komendy wspólne dla systemu:</u></b></a>
<partial name="_MainCommandsPartialView.cshtml" />