<a href="#"><b>"małe a", ..., "małe z"</b>                               - <i>dodaje małą literę z zakresu a-z do pola z ustawionym kursorem</i></a>
<a href="#"><b>"duże A", ..., "duże Z"</b>                               - <i>dodaje dużą literę z zakresu A-Z do pola z ustawionym kursorem</i></a>
<a href="#"><b>"cyfra 0", ..., "cyfra 9"</b>                             - <i>dodaje cyfrę z zakresu 0-9 do pola z ustawionym kursorem</i></a>
<a href="#"><b>"małpa"</b>                                               - <i>dodaje znak '@@' do pola z ustawionym kursorem</i></a>
<a href="#"><b>"kropka"</b>                                              - <i>dodaje znak '.' do pola z ustawionym kursorem</i></a>
<a href="#"><b>"zarejestruj"</b>                                         - <i>zatwierdza akcję rejestracji</i></a>
<a href="#"><b>"Login", "Ustaw nazwę", "Ustaw nick", "Ustaw login"</b>   - <i>ustawia kursor w polu login</i></a>
<a href="#"><b>"Hasło", "Ustaw hasło"</b>                                - <i>ustawia kursor w polu hasło</i></a>
<a href="#"><b>"Potwierdź", "potwierdzenie", "zatwierdź"</b>             - <i>ustawia kursor w polu potwierdzenia hasła</i></a>
<a href="#"><b>"e-mail", "email"</b>                                     - <i>ustawia kursor w polu e-mail'a</i></a>
<a href="#"><b>"Wyczyść login", "wyczyść nazwa", "wyczyść nazwę"</b>     - <i>czyści pole login</i></a>
<a href="#"><b>"Wyczyść hasło"</b>                                       - <i>czyści pole hasło</i></a>
<a href="#"><b>"Wyczyść potwierdzenie"</b>                               - <i>czyści pole potwierdzenia hasła</i></a>
<a href="#"><b>"Wyczyść email", "wyczyść e-mail", "wyczyść e-mail'a"</b> - <i>czyści pole e-mail'a</i></a>
<a href="#"><b>"Cofnij"</b>                                              - <i>usuwa ostatni znak z pola, w którym jest ustawiony kursor</i></a>
<a href="#"><b>"Sprawdź hasło"</b>                                       - <i>odkrywa hasło w postaci zakropkowanej</i></a>
<a href="#"><b>"Ukryj hasło"</b>                                         - <i>zakrywa hasło do postaci zakropkowanej</i></a>
<br />
<a href="#"><b><u>Poniżej znajdują się komendy wspólne dla systemu:</u></b></a>
<partial name="_MainCommandsPartialView.cshtml" />