<a href="#">Komenda 1 - "powiedz coś w register"</a>
<a href="#">Komenda 2 - "powiedz coś w register"</a>
<a href="#">Komenda 3 - "powiedz coś w register"</a>
<a href="#">Komenda 4 - "powiedz coś w register"</a>