<a href="#"><b>"Pierwszy", "Drugi", ..., "Trzydziesty pierwszy"</b>             - <i>dni miesiąca z kalendarza</i></a>
<a href="#"><b>"Styczeń", "Luty", ..., "Grudzień"</b>                           - <i>nazwy miesięcy z kalendarza</i></a>
<a href="#"><b>"1970", ..., "2019"</b>                                          - <i>zakres lat z kalendarza</i></a>
<a href="#"><b>"Wybierz (nazwa kategorii)"</b>                                  - <i>ustawia nazwę kategorii z listy filtrowania</i></a>
<a href="#"><b>"Wszystkie kategorie"</b>                                        - <i>ustawia filtrowanie po wszystkich kategoriach</i></a>
<a href="#"><b>"Wyszukaj", "Napisz słowo(a)"</b>                                - <i>rozpoczyna proces wpisywania słów do pola wyszukiwania</i></a>
<a href="#"><b>"Zakończ wyszukiwanie", "zakończ szukanie", "zakończ frazę"</b>  - <i>kończy ciągłe wpisywanie słów w polu wyszukiwania</i></a>
<a href="#"><b>"Wyczyść", "Usuń"</b>                                            - <i>czyści zawartość pola wyszukiwania</i></a>
<a href="#"><b>"Cofnij literę"</b>                                              - <i>usuwa ostatnią literę z pola wyszukiwania</i></a>
<a href="#"><b>"Cofnij słowo"</b>                                               - <i>usuwa ostatnie słowo z pola wyszukiwania</i></a>
<a href="#"><b>"Data początkowa", "Ustaw datę początkową</b>                    - <i>wyświetla kalendarz do ustawiania daty początkowej filtrowania</i></a>
<a href="#"><b>"Data końcowa", "Ustaw datę końcową</b>                          - <i>wyświetla kalendarz do ustawiania daty końcowej filtrowania</i></a>
<a href="#"><b>"Ukryj datę"</b>                                                 - <i>ukryj kalendarz do ustawiania daty</i></a>
<br />
<a href="#"><b><u>Poniżej znajdują się komendy wspólne dla systemu:</u></b></a>
<partial name="_MainCommandsPartialView.cshtml" />